@charset "UTF-8";

body{
    background-color: lightgray;
    font-family: roboto, arial, sans-serif;
}

main{
    background-color: white;
    margin: auto;
    max-width: 900px;
    border-radius: 20px;
    padding: 10px;
}

h1, h2{
    text-align: center;
}
div{
    background-color: whitesmoke;
    border-radius: 10px;
   
}

img{
    display: block;
    margin: auto;
    border-radius: 10px;

}

cite{
    display: block;
    text-align: right;
    padding-right: 30px;
}

li, p{
    padding: 5px;
    text-align: justify;
}