@charset "UTF-8";

:root {
    --yellow: #ffcc29;
    --blue: #1d539e;
    --gray: #828799;
    --page-background: #f9fbfc;
  }

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}

header{
    position: absolute;
    width: 100vw;
    height: 40vh;
    left: 50%;
    background: var(--blue);
    transform: translate(-50%);
    padding-top: 50px;
    font-style: var(--page-background);
    text-align: center;
    color: white;
    
}

main{
    margin: auto;
    
}
.free{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 27px;

    position: absolute;
    width: 355px;
    height: 470px;
    left: 14%;
    top: 310px;

    background: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.250);
    border-radius: 8px;


}

.basico{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 27px;
    position: absolute;
    width: 355px;
    height: 490px;
    left: 40%;
    top: 300px;

    background: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.250);
    border-radius: 8px;

}

#diferenciado{
    position: relative;
    background-color: var(--yellow);
    top: -30px;
    left: -27px;
    width: 355px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: left;
    padding: 27px;

}
#diferenciado > span{
    margin-left: 50%;
    border-radius: 10px;
    background-color: var(--blue);
    padding: 10px;
    color: white;
    

 
}
#diferenciado > h2{
    display: inline;

}
.profissional{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 27px;

    position: absolute;
    width: 350px;
    height: 468px;
    left: 65%;
    top: 310px;

    background: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.250);
    border-radius: 8px;
}