@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
    box-sizing: border-box;
}

.div-header {
    background-color: #f8f8f8;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #A8A8B3;
    width: 100vw;
    height: 90px;
}

.botoes {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.copiar {
    display: flex;
    border: 1px solid #835AFD;
    border-radius: 7px;
    min-width: 130px;
    align-items: center;
    cursor: pointer;
    font-size: 0.9rem;

}

.p-header {
    margin-left: 5px;
}

.img-copiar {
    background-color: #835AFD;
    padding: 6px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

.encerrar {
    min-width: 130px;
    border: 1px solid #835AFD;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1rem;
}

.link-encerrar-sala{
    text-decoration: none;
    height: 100%;
    width: 100%;
}